// Import Bootstrap Compass integration 
@import "bootstrap-compass"; 

// Import custom Bootstrap variables 
@import "bootstrap-variables"; 

// Import Bootstrap for Sass 
@import "bootstrap"; 

// Import Compass 
@import "compass";

// Google fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

// variables
	//colors
	$dark-blue: #112351;
	$base-blue: #366dff;
	$text-grey: #525252;
	$text-black: #000000;
	$background-grey: #F1F1F1;
	$background-grey: #333333;
	$transparent: transparent;
	
	$font-1: 'Source Sans Pro', sans-serif;
	$font-2: 'Source Sans Pro', sans-serif;

	// durations
	$duration-3: 0.3s;
	$duration-5: 0.5s;
// end variables

a {
	color: $text-grey;
	text-decoration: none!important;
	transition-duration: $duration-3;
	&:hover {
		color: $base-blue;
	}
}

ul, li {
	list-style: none;
}

html{
	font-size : 100%;
}

body {
	font-size: 0.9em;
	background-color: #D8D8D8;
	font-family: $font-1;
}

#no-click-search {
	display:none;
	position:absolute;
	top:0; right:0; bottom:0; left:0;
    z-index: 999;
    background-color: $transparent;
}

.content-search {
	display: none;
	position: absolute;
	top:0; right:0; left:0;
    z-index: 1000;
    color: #FFF;
	background-color: $background-grey;
	input, button {
	    padding: 1em;
	    background-color: $transparent;
	    font-size: 20px;
	    border: none;
	    &:focus {
	    	outline: none;
	    }
	}
}

header {
	color: $text-grey;
	padding: 20px 0;
	.logo {
	}
	.title {
		font-size: 1.2em;
		span {
			color: $base-blue;
			font-weight: bold;
		}
	}
}
