// Import Bootstrap Compass integration 
@import "bootstrap-compass"; 

// Import custom Bootstrap variables 
@import "bootstrap-variables"; 

// Import Bootstrap for Sass 
@import "bootstrap"; 

// Import Compass 
@import "compass";

// Google fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

// variables
	//colors
	$dark-blue: #112351;
	$base-blue: #366dff;
	$text-grey: #525252;
	$light-grey: #F1F1F1;
	$dark-grey: #333333;
	$black: #000000;
	$white: #ffffff;
	$transparent: transparent;
	// font
	$font-1: 'Source Sans Pro', sans-serif;
	$font-2: 'Source Sans Pro', sans-serif;
	// durations
	$duration-3: 0.3s;
	$duration-5: 0.5s;
	//images
	$cover-slider:  url('../images/slider/lycee-photo.png');
	$logo-header: url('../images/logo/logo.svg');

// end variables

// class global
	.t-dark-blue { color: $dark-blue; }
	.t-base-blue { color: $base-blue; }
	.t-grey { color: $text-grey; }
	.t-black { color: $black; }
	.t-white { color: #FFFFFF; }
	
	.bg-grey { background-color: $light-grey; }
	.bg-dark-grey { background-color: $dark-grey; }

	.t-s-2 { font-size: 2em;}
	.t-s-3 { font-size: 3em;}

	.t-bold { font-weight: bold; }
	.t-light { font-weight: lighter; }
	
	.spacer-xs { height: 2em; clear: both; display: block; }
	.spacer-md { height: 5em; clear: both; display: block; }
	.spacer-lg { height: 10em; clear: both; display: block; }

	.padding-1 { padding: 1em; }
	.padding-2 { padding: 2em; }
	.padding-3 { padding: 3em; }

	.line-deco { height: 3px; background-color: $dark-grey; margin-top: 0.7em; }
	.btn-line { 
		border: 2px solid $dark-grey;
		padding: 1em 1.5em; 
		background-color: $transparent; 
		transition-duration: $duration-5;
		margin-top: -1em;
		&:hover {
			background-color: $dark-grey;
			color: $white;
		}
	}
// end class global

a {
	color: $text-grey;
	text-decoration: none!important;
	transition-duration: $duration-3;
	&:hover {
		color: $base-blue;
	}
}

ul, li {
	list-style: none;
}

html, body {
	overflow-x: hidden; 
}

html{
	font-size : 100%;
}

body {
	font-size: 0.9em;
	background-color: #D8D8D8;
	font-family: $font-1;
}

#no-click-search {
	display:none;
	position:absolute;
	top:0; right:0; bottom:0; left:0;
    z-index: 999;
    background-color: $transparent;
}

.content-search {
	display: none;
	position: absolute;
	top:0; right:0; left:0;
    z-index: 1000;
    color: #FFF;
	background-color: $dark-grey;
	input, button {
	    padding: 1em;
	    background-color: $transparent;
	    font-size: 2em;
	    border: none;
	    &:focus {
	    	outline: none;
	    }
	}
}

header {
	color: $text-grey;
	padding: 2em 0 1em 0;
	.logo {
		margin-top: -1.1em;
	    width: 5.5em;
	    height: 4em;
		#logo-svg {
			fill: $base-blue;
		}
	}
	.title {
		font-size: 1.2em;
		span {
			color: $base-blue;
			font-weight: bold;
		}
	}
}

.slider {
	background-image: $cover-slider;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-bottom: 5em;
	div > div:last-of-type {
		margin-top: 5em;
		button {
			padding: 1em 1.5em;
			background-color: $transparent; 
			border: 2px solid;
			transition-duration: $duration-5;
			&:hover {
				border: 2px solid $dark-blue;
				background-color: $dark-blue;
			}
		}
	}
	li {
		margin: 1.5em 0;
		padding-bottom: 1em; 
		border-bottom: 3px solid;
		font-weight: bold;
	}
}

.home {
	#formations li p {
		background-color: $base-blue;
	}
}